.mission-section {
    background-color: #163300;
    padding: 3rem 0;
    padding-bottom: -10px;
    margin-bottom: -50px;
  }
  
  .title-row {
    h2 {
      font-family: "Impact", sans-serif;
      font-size: 120px;
      font-weight: 500;
      line-height: 127px;
      letter-spacing: 1px;
      color: #9FE870;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      padding-left: 300px;
      display: inline-block;
    }
  }
  
  .first-paragraph-row {
    p {
      font-family: Inter, sans-serif, helvetica, arial, sans-serif;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      color: #e8ebe6;
      padding-left: 960px;
    }
  }
  
  .image-row {
    img {
      max-width: 71%;
      height: auto;
      padding-left: 250px;
      padding-top: 30px;
    }
  }
  
  .bottom-row {
    display: flex;
    flex-wrap: wrap;
  
    .second-paragraph-col {
      p {
        font-family: Inter, sans-serif, helvetica, arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #e8ebe6;
        padding-left: 255px;
        padding-top: 40px;
      }
    }
  
    .mission-btn-col {
        display: flex;
        justify-content: center; // Center the button horizontally
        margin-top: 60px; 
        margin-left: 340px; 
        margin-bottom: 200px; 
      
        .mission-button {
          display: inline-block;
          text-decoration: none;
          padding: 0.75rem 2rem;
          border-radius: 50px;
          font-family: Inter, sans-serif, helvetica, arial, sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          background-color: #9FE870;
          color: #163300;
          transition: all 0.3s;
      
          &:hover {
            background-color: #bcf190;
            color: #163300;
          }
        }
      }
  }
  