.security-section {
    padding-top:20px;
    background-color: #ffffff;
    height: 250px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding-bottom: 30px;
  
    .container {
        .divider {
            background-color:rgba(58, 18, 18, 0.336);
            width: 100%; 
            margin: 0 auto; 
          }
      .security-items {
        display: flex;
        justify-content: space-between;
        margin-left: -30rem; 
  
        .security-item {
          display: flex;
          align-items: center;
          margin-right: 3rem; 
  
          .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;
            width: 58px;
            height: 58px;
            background-color: #cccccc48;
            border-radius: 50%;
          }
  
          .security-icon {
            fill: #66666688;
          }
  
          .security-text {
            font-family: 'Inter', sans-serif, helvetica, arial, sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #454745;
            margin-bottom: 0;

            .underline-link {
                text-decoration: underline; 
            }
            .underline-word {
                text-decoration: underline;
              }
            
          }
        }
      }
    }
  }
  